body {
    padding: 0;
    margin: 0;
}
html, body, #map, #overlay {
    height: 100%;
}

#map {
	margin-right: 350px;
}

#overlay {
	width: 350px;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #fff;
}